<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mrfy.io Task {{task.title}}</title>
        <meta charset="UTF-8">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <style type="text/css">
            body{
                font-family: Roboto;
            }
            section.attributes{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border: 2px dotted gray;
            }

            section.attributes article{
                background-color: lightgray;
                margin: 2px;
                flex: 1 1 auto;
                align-content: center;
            }

            section.comments{
                padding-left: 5px;
            }

            section.comments article{
                margin: 5px;
                padding-left: 5px;
                border-left: 2px solid brown;
                background-color: beige;
            }

            section.comments article footer{
                font-size: x-small;
                text-align: end;
            }
            .hide-form{
                display: none;
            }
        </style>
        <script type="module" src="../modules/humandate.mjs"></script>
        <script type="module" src="../modules/task.mjs"></script>
        <script type="module">
            import * as task from "../modules/task.mjs";
            import humanDate from "../modules/humandate.mjs";
            //Embed the task into the page
            const task_id = {{task.id}};
            let mod_task = {};
            mod_task.id = {{task.id}};
            {{#if subject}}
                const subject_id = {{subject.id}};
                const subject_name = "{{subject.name}}";
                const subject_email = "{{subject.email}}";
                task.set_authenticated_user({
                    id: {{subject.id}},
                    name: "{{subject.name}}",
                    email: "{{subject.email}}",
                });
            {{else}}
                const subject_id = 0;
                const subject_name = "";
                const subject_email = "";
            {{/if}}
            {{#if task.assignee}}
                const assignee_id = {{task.assignee.id}};
                mod_task.assignee = {
                    id: {{task.assignee.id}},
                    name: "{{task.assignee.name}}",
                    email: "{{task.assignee.email}}",
                };
            {{else}}
                const assignee_id = 0;
            {{/if}}
            {{#if task.reporter}}
                const reporter_id = {{task.reporter.id}};
                mod_task.reporter = {
                    id: {{task.reporter.id}},
                    name: "{{task.reporter.name}}",
                    email: "{{task.reporter.email}}",
                };
            {{else}}
                const reporter_id = 0;
            {{/if}}
            task.set_current_task(mod_task);

function on_load(){
    unhide_forms();
    count_reactions();
    human_time_fields();
}
window.on_load = on_load;

function unhide_forms(){
    //If there is a current authenticated user, allow comments and reactions
    if(subject_id > 0){
        document.getElementById("comments-form").className = "";
        document.getElementById("reactions-form").className = "";
        document.getElementById("assign-self-form").className = "";
    }

    //If the current user is the assignee, allow changing state
    if(subject_id > 0 && subject_id == assignee_id){
        document.getElementById("state-form").className = "";
    }

    //If the current user is the reporter, allow updates to estimate, points, assignee, state
    if(subject_id > 0 && subject_id == reporter_id){
        document.getElementById("state-form").className = "";
        document.getElementById("estimate-form").className = "";
        document.getElementById("points-form").className = "";
        document.getElementById("assignee-form").className = "";
    }
}

function human_time_fields(){
    const created_time = document.getElementById("created");
    const updated_time = document.getElementById("updated");
    const due_time = document.getElementById("due");

    created_time.innerText = humanDate(created_time.dateTime);
    updated_time.innerText = humanDate(updated_time.dateTime);
    due_time.innerText = humanDate(due_time.dateTime);
}

function input_assignee(event){
    if (event.inputType == 'insertReplacementText'){
        const user = task.get_user_from_dataset(document.querySelector("#users option[value='" + event.target.value + "']"));
        event.target.dataset.id = user.id;
        event.target.dataset.name = user.name;
        event.target.dataset.email = user.email;
    }
}
window.input_assignee = input_assignee;
window.update_assignee = task.update_assignee_from_input;

function assign_self(){
    document.getElementById("assign-self-form").className = "hide-form";
    task.update_assignee_from_authenticated_user();
}
window.assign_self = assign_self;

window.update_state = task.update_state_from_input;
window.update_estimate = task.update_estimate_from_input;
window.update_points = task.update_points_from_input;

function count_reactions(){
    const react_section = document.getElementById("reactions");
    for (ra of react_section.children){
        const reaction = ra.dataset.reaction;
        const reaction_button = document.getElementById("react-"+reaction+"-button");
        if(!reaction_button.dataset.count){
            reaction_button.dataset.count = 0;
        }
        const count_span = reaction_button.querySelector(".count");
        reaction_button.dataset.count = Number(reaction_button.dataset.count) + 1;
        count_span.innerHTML = reaction_button.dataset.count;
    }
}

function react(reaction){
    const now = new Date;
    //The button that was clicked needs to reflect this reaction has incremented
    const reaction_button = document.getElementById("react-"+reaction+"-button");
    if(!reaction_button.dataset.count){
        reaction_button.dataset.count = 0;
    }
    const count_span = reaction_button.querySelector(".count");
    reaction_button.dataset.count = Number(reaction_button.dataset.count) + 1;
    count_span.innerHTML = reaction_button.dataset.count;
    task.patch_task(task_id, [
        {"op": "add", "path": "/reactions/-", "value": {
                subject: {
                    id: subject_id,
                    name: subject_name,
                    email: subject_email,
                },
                reaction: reaction,
                created: now.toISOString(),
            },
        }
    ]);
}
window.react = react;

function add_comment(){
    const now = new Date;
    const comment_input = document.getElementById("comment-input");
    const comment = comment_input.value;
    task.patch_task(task_id, [
        {"op": "add", "path": "/comments/-", "value": {
                subject: {
                    id: subject_id,
                    name: subject_name,
                    email: subject_email,
                },
                comment: comment,
                content_type: "text/plain",
                created: now.toISOString(),
            },
        }
    ]);
    comment_input.value = "";
    //Add a section for this comment
    const comments_section = document.getElementById("comments");
    let ce = document.createElement("article");
    ce.name = "comment"
    ce.className = "comment"
    ce.innerHTML = "<div>"+comment+"</div><footer>By "+subject_name+" right now</footer>";
    comments_section.appendChild(ce);
}
window.add_comment = add_comment;
        </script>
    </head>
    <body onload="on_load()">
        <!-- TODO Create this list in handlebards from a query to the users db for the users in the task circle -->
        <datalist id="users">
            <option data-id="1" data-email="sean@example.com" data-name="Sean Murphy" value="Sean Murphy">Sean Murphy</option>
            <option data-id="2" data-email="child1@example.com" data-name="Child One" value="Child One">Child One</option>
            <option data-id="3" data-email="child2@example.com" data-name="Child Two" value="Child Two">Child Two</option>
            <option data-id="4" data-email="child3@example.com" data-name="Child Three" value="Child Three">Child Three</option>
        </datalist>
        <datalist id="priorities">
            <option data-priority="neutral" value="neutral">Neutral</option>
            <option data-priority="trivial" value="trivial">Trivial</option>
            <option data-priority="minor" value="minor">Minor</option>
            <option data-priority="major" value="major">Major</option>
            <option data-priority="critical" value="critical">Critical</option>
            <option data-priority="blocker" value="blocker">Blocker</option>
        </datalist>
        <datalist id="states">
            <option data-state="blocked" data-reason="waiting-on-other" value="Blocked (Waiting on Other)">Blocked (Waiting on Other)</option>
            <option data-state="blocked" data-reason="needs-information" value="Blocked (Needs Information)">Blocked (Needs Information)</option>
            <option data-state="blocked" data-reason="needs-planning" value="Blocked (Needs Planning)">Blocked (Needs Planning)</option>
            <option data-state="blocked" data-reason="needs-materials" value="Blocked (Needs Materials)">Blocked (Needs Materials)</option>
            <option data-state="blocked" data-reason="needs-tools" value="Blocked (Needs Tools)">Blocked (Needs Tools)</option>
            <option data-state="blocked" data-reason="insufficient-budget" value="Blocked (Insufficient Budget)">Blocked (Insufficient Budget)</option>
            <option data-state="blocked" data-reason="required-authorization" value="Blocked (Requires Authorization)">Blocked (Requires Authorization)</option>
            <option data-state="todo" value="Todo">Todo</option>
            <option data-state="in-progress" value="In Progress">In Progress</option>
            <option data-state="in-review" value="In Review"></option>
            <option data-state="complete" data-resolution="done" value="Complete (Done)">Complete (Done)</option>
            <option data-state="complete" data-resolution="nothing-to-do" value="Complete (Nothing to do)">Complete (Nothing to do)</option>
            <option data-state="complete" data-resolution="wont-do" value="Complete (Wont Do)">Complete (Wont Do)</option>
            <option data-state="complete" data-resolution="cancelled" value="Complete (Cancelled)">Complete (Cancelled)</option>
            <option data-state="complete" data-resolution="duplicate" value="Complete (Duplicate)">Complete (Duplicate)</option>
            <option data-state="complete" data-resolution="closed-for-age" value="Complete (Closed for Age)">Complete (Closed for Age)</option>
        </datalist>
        <header>
            <nav>
                <a href="/index.html">Home</a>
                <a href="/login.html">Login</a>
                <a href="/board.html">Task Board</a>
            </nav>
            Welcome {{subject.name}}
        </header>
        <h1>TASK-{{task.id}}: {{task.title}}</h1>
        <nav>
            <p><a href="/index.html"/>Home</a></p>
            <p><a href="/board.html">Board</a></p>
        </nav>
        <section id="attributes" class="attributes">
            <article>
                <label for="title">Title:</label>
                <span id="title">{{task.title}}</span>
            </article>
            <article>
                <label>Reporter:</label>
                <span id="reporter">{{task.reporter.name}}</span>
            </article>
            <article>
                <label for="watchers">Watchers:</label>
                <ul id="watchers">
                {{#each task.watchers}}
                    <li id="watcher-{{id}}" name="watcher">{{name}}</li>
                {{/each}}
                </ul>
            </article>
            <article>
                <label for="circle">Circle:</label>
                <span id="circle" name="circle">{{task.circle}}</span>
            </article>
            <article>
                <label for="assignee">Assignee:</label>
                <span id="assignee" name="assignee">{{task.assignee.name}}</span>
                <form id="assignee-form" class="hide-form" action="javascript:void(0);">
                    <label for="assignee-input">Change Assignee:</label>
                    <input id="assignee-input" type="text" list="users" value="{{task.assignee.name}}" oninput="input_assignee(event)"/>
                    <input type="button" value="Update" onclick="update_assignee()"/>
                </form>
                <form id="assign-self-form" class="hide-form" action="javascript:void(0);">
                    <input type="button" value="Assign Myself" onclick="assign_self()"/>
                </form>
            </article>
            <article>
                <label for="priority">Priority:</label>
                <span id="priority" name="priority" data-priority="{{task.priority}}">{{task.priority}}</span>
                <span id="priority-icon-neutral" class="material-symbols-outlined" style="display:none;">sentiment_neutral</span>
                <span id="priority-icon-trivial" class="material-symbols-outlined" style="display:none;">low_priority</span>
                <span id="priority-icon-minor" class="material-symbols-outlined" style="display:none;">priority</span>
                <span id="priority-icon-major" class="material-symbols-outlined" style="display:none;">warning</span>
                <span id="priority-icon-critical" class="material-symbols-outlined" style="display:none;">priority_high</span>
                <span id="priority-icon-blocker" class="material-symbols-outlined" style="display:none;">error</span>
            </article>
            <script>document.getElementById("priority-icon-{{task.priority}}").style="display:inline;"</script>
            <article>
                <label for="estimate">Estimate (8601 time span... P1y2m3dT4h5m6s):</label>
                <span id="estimate" name="estimate">{{task.estimate}}</span>
                <form id="estimate-form" class="hide-form" action="javascript:void(0);">
                    <label for="estimate-input">Change Estimate:</label>
                    <input id="estimate-input" type="text" value="{{task.estimate}}"/>
                    <input type="button" value="Update" onclick="update_estimate()"/>
                </form>
            </article>
            <article>
                <label for="points">Points:</label>
                <span id="points" name="points">{{task.points}}</span>
                <form id="points-form" class="hide-form" action="javascript:void(0);">
                    <label for="points-input">Change Points:</label>
                    <input id="points-input" type="text" value="{{task.points}}"/>
                    <input type="button" value="Update" onclick="update_points()"/>
                </form>
            </article>
            <article>
                <label for="state">State:</label>
                <span id="state" name="state">{{task.state.state}} {{task.state.reason}} {{task.state.resolution}}</span>
                <form id="state-form" class="hide-form" action="javascript:void(0);">
                    <label for="state-input">Change State:</label>
                    <input id="state-input" type="text" list="states" value="{{task.state.state}}"/>
                    <input type="button" value="Update" onclick="update_state()"/>
                </form>
            </article>
            <article>
                <label for="tags">Tags:</label>
                <ul id="tags">
                {{#each task.tags}}
                    <li id="tag-{{this}}" name="tag">{{this}}</li>
                {{/each}}
                </form>
            </article>
            <article>
                <span>Created: <time id="created" datetime="{{task.created}}">{{task.created}}</time></span>
            </article>
            <article>
                <span>Updated: <time id="updated" datetime="{{task.updated}}">{{task.updated}}</time></span>
            </article>
            <article>
            <article>
                <span>Due: <time id="due" datetime="{{task.due}}">{{task.due}}</time></span>
            </article>
        </section>
        <script>
        </script>
        <section>
            <header><h3>Reactions</h3></header>
            <section id="reactions" class="reactions" style="display: none;">
                {{#each task.reactions}}<article data-reaction="{{reaction}}"><span name="subject-name">{{subject.name}}</span><span class="material-symbols-outlined">{{reaction}}</span></article>{{/each}}
            </section>
            <form id="reactions-form" class="hide-form" action="javascript:void(0);">
                <button id="react-sentiment_very_satisfied-button" onclick="react('sentiment_very_satisfied')"><span class="count"></span><span class="material-symbols-outlined">sentiment_very_satisfied</span></button>
                <button id="react-sentiment_satisfied-button" onclick="react('sentiment_satisfied')"><span class="count"></span><span class="material-symbols-outlined">sentiment_satisfied</span></button>
                <button id="react-sentiment_neutral-button" onclick="react(sentiment_neutral)"><span class="count"></span><span class="material-symbols-outlined">sentiment_neutral</span></button>
                <button id="react-sentiment_dissatisfied-button" onclick="react('sentiment_dissatisfied')"><span class="count"></span><span class="material-symbols-outlined">sentiment_dissatisfied</span></button>
                <button id="react-sentiment_very_dissatisfied-button" onclick="react('sentiment_very_dissatisfied')"><span class="count"></span><span class="material-symbols-outlined">sentiment_very_dissatisfied</span></button>
                <button id="react-sentiment_extremely_dissatisfied-button" onclick="react('sentiment_extremely_dissatisfied')"><span class="count"></span><span class="material-symbols-outlined">sentiment_extremely_dissatisfied</span></button>
                <button id="react-sentiment_sad-button" onclick="react('sentiment_sad')"><span class="count"></span><span class="material-symbols-outlined">sentiment_sad</span></button>
                <button id="react-sentiment_calm-button" onclick="react('sentiment_calm')"><span class="count"></span><span class="material-symbols-outlined">sentiment_calm</span></button>
                <button id="react-sentiment_excited-button" onclick="react('sentiment_excited')"><span class="count"></span><span class="material-symbols-outlined">sentiment_excited</span></button>
                <button id="react-sentiment_stressed-button" onclick="react('sentiment_stressed')"><span class="count"></span><span class="material-symbols-outlined">sentiment_stressed</span></button>
                <button id="react-sentiment_frustrated-button" onclick="react('sentiment_frustrated')"><span class="count"></span><span class="material-symbols-outlined">sentiment_frustrated</span></button>
                <button id="react-sentiment_content-button" onclick="react('sentiment_content')"><span class="count"></span><span class="material-symbols-outlined">sentiment_content</span></button>
                <button id="react-sentiment_worried-button" onclick="react('sentiment_worried')"><span class="count"></span><span class="material-symbols-outlined">sentiment_worried</span></button>
                <button id="react-mood-button" onclick="react('mood')"><span class="count"></span><span class="material-symbols-outlined">mood</span></button>
                <button id="react-mood_bad-button" onclick="react('mood_bad')"><span class="count"></span><span class="material-symbols-outlined">mood_bad</span></button>
                <button id="react-sick-button" onclick="react('sick')"><span class="count"></span><span class="material-symbols-outlined">sick</span></button>
            </form>
        </section>
        <section>
            <header><h3>Comments</h3></header>
            <section id="comments" class="comments">
                {{#each task.comments}}<article name="comment" class="comment">
                    {{#if comment}}<div>{{comment}}</div>{{/if}}
                    <footer>By {{subject.name}} on {{created}}</footer>
                </article>{{/each}}{{#if subject.id}}
            </section>
            <form id="comments-form" class="hide-form" action="javascript:void(0);">
                <label for="comment-input">Add a Comment:</label>
                <textarea id="comment-input" name="comment" rows="10" cols="120"></textarea>
                <input type="button" value="Add Comment" onclick="add_comment()"/>{{/if}}
            </form>
        </section>
        <section id="history">
            {{#each task.history}}<article id="history-{{@index}}">
                <div>Updates by {{subject.name}} on {{patched}}</div>
            </article>{{/each}}
        </section>
        <footer>{{task.history}}</footer>
        <script>
        </script>
    </body>
</html>